<div class="navbar">
    <div class="container flex">
        <h1 class="logo">GMAD<img src="https://raw.githubusercontent.com/bradtraversy/loruki-website/master/images/cloud.png" class="nav logo" alt="nav-logo"/></h1>
            <nav>
                <ul>
                    <li><a [routerLink]="['/']">Home</a></li>
                </ul>
            </nav>
    </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

<!-- Content -->
<section class="showcase">
    <div class="container grid">
        <div class="showcase-text">
            <h1>Login</h1>
            <p>Use an existing account</p>
                <a [routerLink]="['/features']" class="btn btn-outline">Register</a>
                <a (click)="authServer.GoogleSignin()" class="btn btn-outline">Login With Google</a>
        </div>

        <div class="showcase-form card">
            <h2>Login using Email and Password</h2>
            <form>
                <div class="form-control">
                    <input type="text" formControlName="Name" required placeholder="Email">
                </div>
                <div class="form-control">
                    <input type="text" name="Company" formControlName="Company" required placeholder="Login">
                </div>
                <input type="submit" value="Login" class="btn btn-primary">
                </form>
        </div>
    </div>
</section>

<!-- Stats -->
<section class="stats">
    <div class="container">
        <h3 class="stats-heading text-center my-1">
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Sapiente quasi expedita 
            nesciunt corrupti eveniet saepe consectetur ab minima consequuntur, reiciendis nostrum dignissimos error,
             inventore ipsam corporis, officiis ratione repudiandae labore.
        </h3>
        </div>
</section>
<!-- Footer -->
<footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
        <div>
            <h1>GMAD
            </h1>
            <p>Copyright &copy; 2020</p>
        </div>
        <nav>
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/']">My classes</a></li>
        </nav>
        <div class="social">
            <a><i class="fab fa-twitter fa-2x"></i></a>
            <a><i class="fab fa-facebook fa-2x"></i></a>
            <a><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
</footer>